<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_LayoutHead")
</head>
<body>

    <div class="container">
        @Html.Partial("/Views/Shared/_Header.cshtml")
        @RenderBody()
        @Html.Partial("/Views/Shared/_Footer.cshtml")
    </div>

    @Html.Partial("_LayoutFoot")
    @RenderSection("scripts", required: false)
</body>
</html>
